{#<?php echo "session" . $_SESSION['userId'] . "<br/>";?>#}

<center>
    <p> Edit Entry </p>
    <form name="editTicket" method="POST" action='update'>
        <table border="1">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Hours</th>
                    <th>Ticket</th>
                    <th>Comments</th>
                    <th>Billable</th>
                    <th>Commands</th>
                </tr>
            </thead>
            <tbody>
                {% if timesheet %}
                    {% for timesheet in timesheet %}
                    <tr>
                        <td><input type="hidden" name="id" value={{timesheet.id}}>{{timesheet.created}}</td>
                        <td><input type="text" name="hours" value={{timesheet.hours}}></td>
                        <td>{{timesheet.ticket}}</td>
                        <td><input type='text' name="comments" value={{timesheet.comments}}></td>
                        <td><input type='checkbox' name='billable' value=1 {{timesheet.checked}}></td>
                        <td><input type="submit" value="save" name="saveEdit"></td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>

    </form>
</center>