
<center>
    <h1>Week of ?? </h1>
    <table>
        <thead>
            <tr>
                <th>Date <input type="date"/></th>
                <th>Hours</th>
                <th>Ticket</th>
                <th>Comments</th>
                <th>Billable</th>
                <th>Commands</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for tickets in items %}
                <td>{{tickets.date}}</td>
                <td>{{tickets.hours}}</td>
                <td>{{tickets.client}} : {{tickets.itemId}}</td>
                <td>{{tickets.summary}}</td>
                <td>{{tickets.billable}}</td>
                <td><input type="submit" value="Edit" /><input type="submit" value="Delete" /></td>
                {% endfor %}
            </tr>
        </tbody>
    </table><br/>
    <table>
        <tbody>
            <tr>
                <td>Date <input type="date"/></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="submit" value="Add" /></td>
            </tr>
        </tbody>
    </table>

    
</center>
