
<center>
    <form name="select_week">
        <input id="datepicker" type="date"/>
    </form>
    <form action="" name='logout'>
        <input id='logout' type="submit" value="logout" name="logout" />
    </form>
    <h1>Week of ?? </h1>
{#    <form name='editTicketForm' method="post" action="edit/itemId">#}
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Hours</th>
                    <th>Ticket</th>
                    <th id='comments'>Comments</th>
                    <th>Billable</th>
                    <th>Commands</th>
                </tr>
            </thead>
            <tbody>
                {% for timesheet in timesheets %}
                <form method="post" action="edit/itemId" name="manageTicek">
                    <tr>
                        <td>{{timesheet.created}}</td>
                        <td>{{timesheet.hours}}</td>
                        <td>{{timesheet.ticket}}</td>
                        <td id="td_comments">{{timesheet.comments}}</td>
                        <td><input type="checkbox" value="true"></td>
                        <td><input type="submit" value="Edit"/><input type="submit" value="Delete" action="delete"/></td>
                    </tr>
                </form>
                {% endfor %}
            </tbody>
        </table><br/>
{#    </form>#}
    <p> Add Timesheet </p>
    <form method='POST' action='addTicket'>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Hours</th>
                    <th>Ticket</th>
                    <th id='comments'>Comments</th>
                    <th>Billable</th>
                    <th>Commands</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="date" name="created"/></td>
                    <td><input type="text" name="hours"/></td>
                    <td><select name="ticket">
                            {% for ticket in tickets.items %}
                                <option value="{{ticket.client}}: {{ticket.itemId}} {{ticket.title}}"<?php = ($_POST['ticket'] == "{{ticket.client}}: {{ticket.itemId}} {{ticket.title}}")? "selected":"";?>{{ticket.client}}: {{ticket.itemId}} {{ticket.title}}</option>
                            {% endfor %}
                        </select</td>
                    <td id='td_comments'><input type="textarea" name="comments"/></td>
                    <td><input type="checkbox" name="billable"/></td>
                    <td><input type="submit" value="Add" /></td>
                </tr>
            </tbody>
        </table>
    </form>

    
</center>
