
<center>
    <h1>Week of ?? </h1>
    <table>
        <thead>
            <tr>
                <th>Date <input type="date"/></th>
                <th>Hours</th>
                <th>Ticket</th>
                <th id='comments'>Comments</th>
                <th>Billable</th>
                <th>Commands</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in items %}
            <tr>
                <td>{{ticket.date}}</td>
                <td>{{ticket.hours}}</td>
                <td id="itemId" value="itemId">{{ticket.client}}: {{ticket.itemId}}</td>
                <td id="td_comments">{{ticket.summary}}</td>
                <td><input type="checkbox" checked={{ticket.billable}}></td>
                <td><input type="submit" value="Edit" /><input type="submit" value="Delete" /></td>
            </tr>
            {% endfor %}
        </tbody>
    </table><br/>
    <form>
        <table>
            <tbody>
                <tr>
                    <td>Date <input type="date" name="date"/></td>
                    <td><input type="text" name="hours"/></td>
                    <td><input type="text" name="client"/></td>
                    <td><input type="text" name="summary"/></td>
                    <td><input type="checkbox" name="billable" /></td>
                    <td><input type="submit" value="Add" /></td>
                </tr>
            </tbody>
        </table>
    </form>

    
</center>
