{% extends "base.twig" %}

{%block source %}
    <input type='hidden' name='source' value="view">
{% endblock %}

{% block home_button %}
{% endblock %}

{% block caption %}
        <h1>Week of {{timesheets.date}} </h1>
{% endblock %}

{% block ts_body %}
            <tbody>
                {% if timesheets %}
                    {% for timesheet in timesheets.timesheets %}
                        <tr>
                            <td>{{timesheet.created}}</td>
                            <td>{{timesheet.hours}}</td>
                            <td class="table_text ticket">{{timesheet.ticket}}</td>
                            <td class="table_text comments">{{timesheet.comments}}</td>
                            <td>{%if timesheet.billable %}<i class="fa fa-check" aria-hidden="true"></i>{% endif %}</td>
                            <td>
                                <form method="post" action="edit">
                                    <input type='hidden' value={{timesheet.id}} name='id'/>
                                    <input type="submit" value="Edit" action="edit"/>
                                </form>
                                <form method='post' action='delete'>
                                    <input type='hidden' value={{timesheet.id}} name='id'/> 
                                    <input type="submit" value="Delete" action="delete"/></td>
                                </form>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
{% endblock %}

{% block include %}
    {% include "addTimesheet.twig" %}

{% endblock %}




