
<center>
    <div>
        <form id="datepicker" name="select_week"  method='post' action="week">
            <input  type="week" name="week" />
            <input type='submit'>
        </form>
        <form id='logout' action="index.php" name='logout'>
            <input  type="submit" value="logout" name="logout" />
        </form>
    </div>
    <div>
        <h1>Week of {{timesheets.date}} </h1>
    </div>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Hours</th>
                    <th>Ticket</th>
                    <th>Comments</th>
                    <th>Billable</th>
                    <th>Commands</th>
                </tr>
            </thead>
            <tbody>
                {% if timesheets %}
                    {% for timesheet in timesheets.timesheets %}
                        <tr>
                            <td>{{timesheet.created}}</td>
                            <td>{{timesheet.hours}}</td>
                            <td class="table_text ticket">{{timesheet.ticket}}</td>
                            <td class="table_text comments">{{timesheet.comments}}</td>
                            <td><input type="checkbox" {%if timesheet.billable %}checked{% endif %} disabled></td>
                            <td>
                                <form method="post" action="edit">
                                    <input type='hidden' value={{timesheet.id}} name='id'/>
                                    <input type="submit" value="Edit" action="edit"/>
                                </form>
                                <form method='post' action='delete'>
                                    <input type='hidden' value={{timesheet.id}} name='id'/> 
                                    <input type="submit" value="Delete" action="delete"/></td>
                                </form>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table><br/>
    <p> Add Entry </p>
    <form method='POST' action='addTimesheet'>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Hours</th>
                    <th>Ticket</th>
                    <th>Comments</th>
                    <th>Billable</th>
                    <th>Commands</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="date" name="created"/></td>
                    <td><input type="text" name="hours"/></td>
                    <td class="table_text comment"><select name="ticket">
                        {% if tickets.items %}            
                            {% for ticket in tickets.items %}
                                <option value="{{ticket.client}}: {{ticket.itemId}} {{ticket.title}}"<?php = ($_POST['ticket'] == "{{ticket.client}}: {{ticket.itemId}} {{ticket.title}}")? "selected":"";?>{{ticket.client}}: {{ticket.itemId}} {{ticket.title}}</option>
                            {% endfor %}
                        {% endif %}
                        </select</td>
                    <td class='table_text comments'><input type="text" name="comments"/></td>
                    <td><input type="checkbox" name="billable" value=1 /></td>
                    <td><input type="submit" value="Add" /></td>
                </tr>
            </tbody>
        </table>
    </form>

    
</center>
